body { font-family: 'Segoe UI', sans-serif; background-color: #f4f4f9; color: #333; margin: 0; padding: 20px; }
header { text-align: center; margin-bottom: 30px; }
h1 { color: #d35400; } /* Orange frelon */

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input[type="file"] {
    background: #f8f9fa;
    border: 2px dashed #d35400;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}
input[type="file"]:hover {
    background: #fff3e0;
}

/* Indicateur Météo */
.status-go { background-color: #d4edda; color: #155724; border: 1px solid #c3e6cb; padding: 15px; border-radius: 5px; font-weight: bold;}
.status-stop { background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; padding: 15px; border-radius: 5px; font-weight: bold;}

/* Formulaire */
input, button { width: 100%; padding: 10px; margin-top: 5px; margin-bottom: 15px; box-sizing: border-box; }
button { background-color: #d35400; color: white; border: none; cursor: pointer; }
button:hover { background-color: #e67e22; }

/* Admin */
.admin-container { max-width: 400px; margin: 50px auto; text-align: center; background: white; padding: 30px; border-radius: 10px;}